@{
    ViewData["Title"] = "Links";
}

<h1>@ViewData["Title"]:</h1>
<p>Linkedin: <a href="https://www.linkedin.com/in/everton-teixeira-pereira/">https://www.linkedin.com/in/everton-teixeira-pereira/</a></p>
<p>GitHub: <a href="https://github.com/Everton19?tab=repositories">https://github.com/Everton19?tab=repositories</a></p>
